
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="format-detection" content="telephone=no">
	<meta name="msapplication-tap-highlight" content="no">
	<meta name="viewport"
		content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
	<meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT">
	<script src="https://cdn.staticfile.org/vue/2.6.11/vue.min.js"></script>
	<script src="https://cdn.staticfile.org/vue-router/3.1.6/vue-router.min.js"></script>
	<script src="https://cdn.bootcss.com/vuex/3.0.1/vuex.min.js"></script>
	<title></title>


</head>

<body>
	<div id="app"></div>
	<!-- built files will be auto injected -->
</body>

</html>